html {
    height: 100%;
    width: 100%;
}
.title {
    background-color: rgba(0, 0, 0, 0.36);
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    font-size: 5vw;
    color: white;
    font-family: "Copperplate Gothic Bold";
}
.articletitle {
    text-align: center;
    font-size: 3vw;
}
.datetiitle {
    font-size: 1.5vw;
}
body {
    background-image: url("../img/7-seasons-1024x574.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: "Copperplate Gothic Bold";
    font-size: 1rem;
    margin: 0;
}
a {
    color: white;
    font-size: 2.5vw;
    text-decoration: none;
}
li {
    color: white;
    padding: 0;
    list-style-type: armenian;
}

p {
    color: white;
    font-size: 2vw;
}

.article {
    background-color: rgba(0, 0, 0, 0.36);
}
input {
    background-color: rgba(251, 251, 251, 0.27);
    border: none;
    font-size: 1.5vw;
    text-align: center;
    padding: 3px;
}